<ion-header>
  <ion-toolbar>
    <ion-title>Edit Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input label="Title" labelPlacement="floating" [(ngModel)]="currentTask.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Description" labelPlacement="floating" [(ngModel)]="currentTask.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Due Date" labelPlacement="floating" type="date" [(ngModel)]="currentTask.createdAt"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="saveTask()">Save</ion-button>
</ion-content>
