<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>

    <ion-tab-button tab="accesibility" href="/tabs/accesibility">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Accesibility</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>